<h1>New pdf</h1>

<%= error_messages_for :pdf %>

<% form_for(@pdf) do |f| %>
  <p>
    <b>Uploaded data</b><br />
    <%= f.text_field :uploaded_data %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', pdfs_path %>
