<% @content_heading = @photo_category.title %>

<% @photo_category.photos.each_with_index do |photo,i| %>
	<div class="photo">
		<%= link_to image_tag(photo.photo.public_filename(:thumb)), photo_category_photo_path(@photo_category,photo) %>

		<h5><%= photo.title %></h5>
		<%= photo.caption %>

	</div>
	<%= "<br class=\"clear\">" if (i+1)%4==0%>
<% end %>



